.root {
  box-sizing: border-box;
  background-color: #000000;
  font-family: "Inter", Arial, sans-serif;
  color: white;
  margin: auto;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

@media screen and (min-width: 768px) {
  .root {
    padding: 0 5%;
  }
}

@media screen and (min-width: 1280px) {
  .root {
    padding: 0 280px;
  }
}
