.form__input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 360px;
  border-bottom: 1px solid white;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

.form__input::placeholder {
  color: #cccccc;
}

.form__input:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .form__input {
    width: 360px;
  }
}
